@model Berklee.Models.TeacherModel

@{
    ViewBag.Title = "TeacherDetail";
}

<h2>TeacherDetail</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.teacherID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teacherID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
    @Html.ActionLink("Add Module", "MapTeacherModule", new { tID = Model.teacherID })
    <h3>Modules</h3>
    <table class="table">
        <tr>
            <th>
                Module Code
            </th>
            <th>
                Module Name
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
        </tr>
        @foreach (var item in Model.module)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.moduleCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.moduleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.end)
                </td>

            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "UpdateTeacher", new { tID = Model.teacherID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
