@model Berklee.Models.StudentModel

@{
    ViewBag.Title = "StudentDetails";
}

<h2>Student Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.studentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.studentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department)
        </dd>

    </dl>
    @Html.ActionLink("Add Module", "MapStudentModule", new { sID = Model.studentID })
</div>
<p>
    @Html.ActionLink("Edit", "UpdateStudent", new { sID = Model.studentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
